# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science;
- List commonly used libraries used by Data Scientists;
- Understand some examples of evaluating arithmetic expressions in Python;
- Tabulate three Data Science Tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Keras
6. Scikit-learn



| Data Science Tools |
|----------------------|
| Spyder |
| Jupyter Notebook |
| Jupyter Lab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [1]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Vicente Pinto